# Backend
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Environment
.env
*.env
application-local.properties

# IDE - IntelliJ
.idea/
*.iws
*.iml
*.ipr

# Logs
*.log

# Frontend (vanilla JS)
frontend/dist
frontend/node_modules

# OS
.DS_Store
Thumbs.db
